<!--About-->
<div class="content" id="about">
  <!--banner-->
  <div class="container" id="banner">
    <!--<div id="yourimage"></div><div class="overlay"></div> -->
      <div class="bannertext">
          <h3>Nice to Meet You :)</h3>
       </div>
  </div>
  <!--Description-->
  <div class="container" id="description">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h4>Concept Art and Game Ideas are my Specialy</h4> 
        <p>I am an easy going guy that likes to continually spin his head around new concepts and ideas constantly. I am easy to approach and kind at least I would hope to be. Anything visual and drawn are my forte; however, my ability to think up crazy things are not to be underestimated. There are not many things I don't like. I enjoy anything from sports to anime to just the usual people stuff. Hope to be in your care.</p>      
      </div>
    </div>
  </div>
  <!--Skills-->
  <div class="container" id="skills">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h4>S K I L L S</h4>
      </div>
    </div>
    <div class="row icon-wrap">
        <div class="col-sm-4 col-md-4">
            <h4>S O F T W A R E</h4>
            <p>Photoshop</p>
            <p>Illustrator</p>
            <p>Maya 3D</p>
            <p>Working on Real Engine 4</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <h4>P R O G R A M M I N G</h4>
            <p>C#</p>
            <p>Basic HTML</p>
            <p>Basic CSS</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <h4>H A N D W O R K</h4>
            <p>Pen</p>
            <p>charcoal</p>
            <p>Most Paints</p>
            <p>Best with Pencil, Eraser and Sketchbook</p>
        </div>
    </div>
    <p>
        I am most proeffecient with taking any work I have done by hand and "digitalizing" it. <br></br>
        Programming is definitely my weakest suit, but with some help I am capable of doing it.<br></br>
        I like to use photoshop and illustrator the most, but I am working on learning how to use
        game engines as well. <br></br>I work hard and with a bit of coaching, I can wear almost any hat
        you need me to wear.
    </p>
  </div>
  <!--Work Preview-->
  <a class="container" id="workprev" href="">
    <h3 class="header">EXPLORE MY WORK</h3>
    <!--<span class="work-title">Sample Title</span>-->
    <span class="work-desc"></span>
  </a> 
  <!--end-->
</div>