<div class='content' id='home'>
    <link rel="stylesheet" type="text/css" href="js/plugins/pagePiling/jquery.pagepiling.css" />
    <div id="pagepiling">
        <div class="section">
            <!--banner-->
           <div class="container banner" id="initial">
            <!--<div id="yourimage"></div>
            <div class="overlay"></div> -->
              <div class="bannertext initial">
                  <h4>ELBIN SHIN</h4>
                  <h3>Concept Artist &amp; Game Designer</h3>
                  <a class="btn" href="#work">View My Work</a></div>  
           </div>
        </div>
        <div class="section">
            <!--banner-->
           <div class="container banner" id="stroop">
            <!--<div id="yourimage"></div>
            <div class="overlay"></div> -->
              <div class="bannertext"><h3>S T R O O P!</h3>
                  <h4>Can you process your thoughts quickly while keeping your subconcious under control?</h4>
              <a class="btn" href="#work/stroop">View Project</a></div>  
           </div>
        </div>
        <div class="section">
            <!--banner-->
           <div class="container banner" id="optimus">
            <!--<div id="yourimage"></div>
            <div class="overlay"></div> -->
              <div class="bannertext"><h3>N A V A L &nbsp; T A C T I C S: &nbsp; O P T I M U S</h3>
                  <h4>The new way of playing a war and card game mash up.</h4>
              <a class="btn" href="#work/optimus">View Project</a></div>  
           </div>
        </div>
        <div class="section">
            <!--banner-->
           <div class="container banner" id="time">
            <!--<div id="yourimage"></div>
            <div class="overlay"></div> -->
              <div class="bannertext"><h3>T I M E &nbsp; T R O O P E R</h3>
                  <h4>How long can you last in this run against all odds?</h4>
              <a class="btn" href="#work/time">View Project</a></div>  
           </div>
        </div>
        <div class="section">
            <!--banner-->
           <div class="container banner" id="concept">
            <!--<div id="yourimage"></div>
            <div class="overlay"></div> -->
               <div class="bannertext"><h3>C O N C E P T &nbsp; A R T</h3>
                   <h4>A collection of various concepts I have illustrated</h4>
              <a class="btn" href="#work/concepts">View Project</a></div>  
           </div>
        </div>
    </div>
    <!--end-->
   <footer>
        <span>&copy; Elbin Shin | 2014 </span>
   </footer
</div>
<script>$(document).ready(function() {
    $('#pagepiling').pagepiling({
        navigation: {
            'textColor': '#FFF',
            'bulletsColor': '#FFF',
            'sectionsColor': ['#FFF'],
            'position': 'right',
            'tooltips': ['Me', 'M&CSaatchi', 'Star Trek', 'X-Men']
        },
        animateAnchor: false,
    });
});
</script>