<link rel="stylesheet" type="text/css" href="template/work/assets/css/concepts.css" />
<div class='content case-study' id='conceptw'>
   <!--banner-->
   <div class="container banner" id="banner">
    <div class="banner-text-wrap">
        <div class="bannertext">
            <h3>CONCEPT ARTS</h3>
        </div>
    </div>
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>C O N C E P T &nbsp; A R T</h3>
      <p><b>Client:</b> You, my fine sir. </p>
      <p><b>Work:</b> Game Concept &amp; Illustrations</p>
      <p>Honestly speaking I love thinking up concepts during my free time. Whether it be characters, environments, story, or even gameplay, I spend time thinking about at least one of them every day. I carry a sketch book almost everywhere I go to jot down ideas or sketches when I think up anything. Here are some of my concepts at its finest.</p>
      <p>Created by Elbin Shin</a>.</p>
  <div class='border'></div>
  <div class="case-container text-center">
      <h3>K A T A R I N A' S &nbsp; S K I N &nbsp; C O N C E P T</h3>
      <p>I developed this concept skin for the <a href='http://gameinfo.na.leagueoflegends.com/en/game-info/champions/katarina/' target="_blank">League of Legends</a> champion, Katarina. I thought up this design early this year when the cybernetic skins were being released. The concept was teleportation Tron style. After spending a few days developing it, I had an entire plan set up but didn't have the time to actually do it. Started from a sketch to a color design then school got busy.</p>
      <img class='size-3 margin' src='../assets/img/kata1.png'/>
      <img class='size-3 margin' src='../assets/img/kata2.png'/>
  </div>
  <div class='border'></div>
  <div class="case-container text-center">
      <h3>N I G H T &nbsp; E C L I P S E &nbsp; D R A G O N</h3>
      <p>I started developing this dragon right after watching <u>How to Train a Dragon</u>. My concept was a dragon that only comes out during the cold temptures of the night. I wanted to create a dragon that was fast and fiere which is why I designed the dragon to have wings as his forearms. I also shaped his head to show ferocity with sharp look. The dragon sleeps during the hot day deep within a mountain caverns, and it emerges during the night to hunt. Again, I did not have the time to sit down and color it because I started working on the environment and never came back to this.</p>
      <img src='../assets/img/drag.png'/>
      <p> Which leads to my next concept.</p>
  </div>

 <div class='border'></div>
  <div class="case-container text-center">
      <h3>C A N Y O N &nbsp; O F &nbsp; T H E &nbsp; E C L I P S E &nbsp; D R A G O N</h3>
      <p>After designing the initial dragon, I attempted to create an environment for the dragon. Because it dislikes the heat it needed to be in the mountain ranges where a lot of moisture was present. Which lead me to create this canyon valley. It would be the ideal place for the dragon that i had created. After sketching a few different scenes I finished with this product. Of course, I would like to polish it more than it is now.</p>
      <img src='../assets/img/canyon.png'/>
  </div>

  <!--end-->
   <footer>
        <span>&copy; Elbin Shin | 2014 </span>
   </footer>
</div>