<link rel="stylesheet" type="text/css" href="template/work/assets/css/optimus.css" />
<div class='content case-study' id='optimusw'>
   <!--banner-->
   <div class="container banner" id="banner">
    <!--<div id="yourimage"></div>
    <div class="overlay"></div> -->
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>C A R D &nbsp; G A M E</h3>
      <p><b>Client:</b> Kevin Bierre, War Game Seminar Professor</p>
      <p><b>Work:</b> Game Concept &amp; Prototyping</p>
      <p>By utilizing a unique set up in map and mechanics, Kristian and I were able to set up this warring card game. The field is set up much like a trading card game's field. Through this and the use of custom made cards I was able to make the most of both worlds. The game is truely unique and puts your strategic abilities to the test.</p>
      <p>Created by Elbin Shin and Kristian Abuda.</p>
  </div>
  <div class='border'></div>
  <div class="case-container text-center">
      <h3 class='header'>D E S I G N &nbsp; D O C U M E N T</h3>
      <p> The game is too complex to explain in a short method and I don't wan to bore you to death. If you are really interested check out the design document <a href='../assets/files/optimusDD.pdf' target="_blank">here</a>.</p>

  </div>

  <div class="case-container text-center">
      <h3 class='header'>P I C T U R E S</h3>
      <img class='size-3 margin' src='../assets/img/war1.png'/>
      <img class='size-3 margin' src='../assets/img/war2.png'/>
      <img class='size-4 margin' src='../assets/img/war3.png'/>
      <img class='size-4 margin' src='../assets/img/war4.png'/>
      <img class='size-4 margin' src='../assets/img/war5.png'/>
      <img class='size-4 margin' src='../assets/img/war6.png'/>
      <img class='size-1 margin' src='../assets/img/war7.png'/>
  </div>
  <!--end-->
   <footer>
        <span>&copy; Elbin Shin | 2014 </span>
   </footer>
</div>