<link rel="stylesheet" type="text/css" href="template/work/assets/css/stroop.css" />
<div class='content case-study' id='stroopw'>
   <!--banner-->
   <div class="container banner" id="banner">
    <!--<div id="yourimage"></div>
    <div class="overlay"></div> -->
    <div class="banner-text-wrap">
      <div class="bannertext">
       </div>
    </div>
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>C A R D &nbsp; G A M E</h3>
      <p><b>Client:</b>Elouise Oyzon, Game Design &amp; Development II Professor</p>
      <p><b>Work:</b> Game Concept &amp; Prototyping</p>
      <p>We were asked to create an analog game (games that are not digital). The intial idea came from the Stroop Effect. If you were to take someone and ask them to tell you the color of a color word like "red" that is written in blue, they may accidentally say blue instead of red. This is the Stroop Effect. It is affected by the processing ability of your brain and is easy to get tricked into saying the wrong color. Taking this idea, we developed it into an intense multiplayer, time trial, card game.</p>
      <p>Created by <a href='http://lcb931023.github.io/time_trooper/site/index.html' target="_blank">Seriously Joking</a>.</p>
  </div>
    
  <div class="case-container text-center">
      
      <h3 class='header'>D E S I G N &amp; D O C</h3>
      <img src='../assets/img/stroopDD.png'/>
      <p>Reading this design document, the players will know how the game plays pretty well even though they have not played yet.</p>
  </div>
  
  <div class="case-container text-center">
      <article clas='text-wrap'>
          <h3 class='header'>R E S U L TS</h3>
          <p>The end product ended in a successful prototype that was fun and consistent. It was chosen to be displayed at Rochester Institute of Technology's "Imagine RIT" showcase.</p>
          <div class='border'></div>
      </article>
       <h3>T H E &nbsp; B O X</h3>
      <img src='../assets/img/stroopBox.jpg'/>
      <h3>C O N T E N T S</h3>
      <img src='../assets/img/stroopContents.jpg'/>
      <h3>S E T T I N G &nbsp; U P &nbsp; T H E &nbsp; G A M E</h3>
      <img src='../assets/img/stroopSetUp.jpg'/>
  </div>
  <!--end-->
   <footer>
        <span>&copy; Elbin Shin | 2014 </span>
   </footer>
</div>