<link rel="stylesheet" type="text/css" href="template/work/assets/css/time.css" />
<div class='content case-study' id='timew'>
   <!--banner-->
   <div class="container banner" id="banner">
   </div>
  <!--Description-->
  <div class="case-container text-center">
      <h3 class='header'>D I G I T A L &nbsp; G A M E</h3>
      <p><b>Client:</b> Elouise Oyzon, Game Design &amp; Development II Professor </p>
      <p><b>Work:</b> Game Concept &amp; Prototyping</p>
      <p>This was Seriously Joking's second project for the class. Our assignment this time was to make a digital game. We liked the idea of being able to control time to dodge bullets, Matrix style. So we designed and developed a game that acts as a side scrolling bullet hell. Bullets will rain upon you as you run, manipulate time to dodge the bullets and get as far as you can. Did I mention that this is a endless runner as well?</p>
      <p>Created by<a href='http://lcb931023.github.io/time_trooper/site/index.html' target="_blank">Seriously Joking</a>.</p>
  <div class='border'></div>
      <h3>D E S I G N &nbsp; D O C U M E N T</h3>
      <p>The design document shows everything we have incorporated in the game plus more. We only have 5 weeks to develop these games, so there were some features that we were unable to implement into the game. This design document shows exactly what our end vision was for the game.</p>
  <div class="case-container text-center">
      <img src='../assets/img/timeDD.png'/>
  </div>
  <div class='border'></div>
  <div class="case-container text-center">
      <h3>O N &nbsp; S C R E E N &nbsp; E X A M P L E S</h3>
      <img src='../assets/img/sample-screen.png'/>
  </div>

  <!--end-->
   <footer>
        <span>&copy; Elbin Shin | 2014 </span>
   </footer>
</div>